:root{
    --primary-color: rgb(8, 8, 8);
    --secondary-color: rgb(255, 255, 0);
    --hover-bg-color: rgb(183, 58, 58);
    --hover-text-color: rgb(252, 252, 252);
    --background-color2: rgb(252, 242, 242);
}


.nunito-sans{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
    
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* Heading */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: 1px solid var(--hover-bg-color);
    column-gap: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
}

header span{
    font-size: 1.2rem;
}

/* Navigation */
.hamburger{
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--secondary-color);
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}

/* Navigation Links */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.navigation a:hover{
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

.navigation li.current{
    background-color: var(--background-color2);
}

/* footer */
footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 10px;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--primary-color) solid 1px;
    border-radius: 5px;
}

.social a:hover{
    background-color: var(--hover-text-color);
}